/* apply command "!important" to override Bootstrap default overlays */
body {
    background-color: #454545 !important; 
    width: 100%; 
    height: 100%;
    ;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top:5%;
}

.content{
    text-align:center;
    justify-content:space-around;
    padding-bottom: 25%;

}
/* apply blur effect to blur class image */
.blur{
    filter: blur(4px);
}

